<div style="width:20vw; height:20vw">
  <h3>{{ note.content }}</h3>
  <span class="button is-small is-info" (click)='getRandomLand(note.hearts)'>
    <i class="fa fa-unlock-alt"></i>
  </span>
  <span class="button is-small is-danger" (click)='getRandomLand(note.hearts)'>
    <i class="fa fa-random"></i>
  </span>
  <!--
  <span class="button is-small is-info" (click)='addHeartToNote(note.hearts)'>
    Heart <i class="fa fa-heart"></i>
  </span>
  <span class="button is-small is-danger" (click)='deleteNote(note?.id)'>Delete</span>
  <p>This note has been hearted {{ note.hearts || 0 }} times.</p>

  -->
</div>
