<h1>Your Story & Map</h1>
<p>Create an awesome adventure</p>

<ol>
  <li *ngFor="let adventure of adventures | async">
    <p>{{adventure.time}}</p>
  </li>
</ol>

<span class="button is-small is-primary" (click)='createQuest()'>
  New Quest
</span>

<h1>Active Quests</h1>

<div class="row">
  <ol>
    <li *ngFor="let quest of quests | async">
      <quest-detail [quest]="quest"></quest-detail>
    </li>
  </ol>
</div>

<!--
<input [(ngModel)]="content" placeholder="Add your own note" class="input">
<button class="button is-success" (click)="createNote()" [disabled]="content?.length < 2 || content?.length > 200">
  Add Note
</button>
-->

<hr>

<span class="button is-small is-warning" (click)='rerollAllLands(notes.array)'>
  Reroll all lands <i class="fa fa-random"></i>
</span>

<span class="button is-small is-danger" (click)='deleteAndRemake()'>
  DEBUG: delete and remake map
</span>

<div class="row">
  <div *ngFor="let note of notes | async" class="col-4"
  style="background-color:coral; border-style: dotted;">
    <note-detail [note]="note"></note-detail>
  </div>
</div>
