<h1>Your Story & Map</h1>
<p>Create an awesome adventure</p>

<p>The object: {{(adventure | async)}}</p>
<p>The time: {{(adventure | async)?.time}}</p>
<p>The id: {{(adventure | async)?.id}}</p>

<h2>From Single Adventure</h2>
<ol>
  <li *ngFor="let tile of (adventure | async)?.tiles">
    <p>{{tile.landname}} {{tile.landtype}}</p>
  </li>
</ol>

<!--
<h2>From Array</h2>
<ol>
  <li *ngFor="let adventure of adventures | async">
    <p>{{adventure.time}}</p>
    <p>{{adventure.tiles[0].landname}}</p>
  </li>
</ol>-->

<span class="button is-small is-primary" (click)='createQuest()'>
  New Quest
</span>

<h1>Active Quests</h1>

<div class="row">
  <ol>
    <li *ngFor="let quest of (adventure | async)?.quests">
      <quest-detail [quest]="quest"></quest-detail>
    </li>
  </ol>
</div>

<!--
<input [(ngModel)]="content" placeholder="Add your own note" class="input">
<button class="button is-success" (click)="createNote()" [disabled]="content?.length < 2 || content?.length > 200">
  Add Note
</button>
-->

<hr>

<span class="button is-small is-warning" (click)='rerollAllLands(notes.array)'>
  Reroll all lands <i class="fa fa-random"></i>
</span>

<span class="button is-small is-danger" (click)='deleteAndRemake()'>
  DEBUG: delete and remake map
</span>

<div class="row">
  <div *ngFor="let note of (adventure | async)?.tiles" class="col-4"
  style="background-color:coral; border-style: dotted;">
    <note-detail [note]="note"></note-detail>
  </div>
</div>
